.btn-container{
    width: 400px;
}

button{
    width: 100px;
    height: 80px;
    font-size: 20px;
    border: none;
    transition: all 0.5s;
}

button:hover{
    background-color: rgb(203, 203, 203);
}

button.equal{
    background-color: rgb(228, 141, 34);
    width: 400px;
}

button.equal:hover{
    background-color: darkorange;
}